<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409562626404-pb6eqs7a5rimkf3eh4079277qq0s77ec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409562626404-pb6eqs7a5rimkf3eh4079277qq0s77ec</string>
	<key>API_KEY</key>
	<string>AIzaSyA27RYoUhoWfj1LgqW8mPNRZVbRgyuyOEs</string>
	<key>GCM_SENDER_ID</key>
	<string>409562626404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.squip</string>
	<key>PROJECT_ID</key>
	<string>squip-d6b42</string>
	<key>STORAGE_BUCKET</key>
	<string>squip-d6b42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409562626404:ios:70f2bc8067dd17988e2271</string>
</dict>
</plist>